<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/datepicker-ja.js"></script>
<link href="/css/jquery-ui.min.css" rel="stylesheet">
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="/js/popper.min.js"></script>
<link
	href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<link href="/css/starter-template.css" rel="stylesheet">
<link href="/css/calender.css" rel="stylesheet">
<link href="/css/postForm.css" rel="stylesheet">
<script type="text/javascript">
	$(function() {

		$(".datepicker").datepicker();

		let i = 1;

		$('.addInputFileButton').click(function(e) {

			if (!$('.imageDisplay_' + i).length) {
				var span = $("<span>", {
					style : "display:inline-block",
					addClass : "imageDisplay_" + i
				});

				$(span).appendTo("#input-file-zone");

			}

			var inputFile;
			if (!$('#image_' + i).length) {
				inputFile = $("<input>", {
					type : "file",
					accept : "image/*",
					name : "imageList",
					addClass : "hidden-input-file",
					id : "image_" + i
				});

				$(inputFile).appendTo(".imageDisplay_" + i);
			} else {
				inputFile = $("#image_" + i);
			}

			$(inputFile).trigger('click');
		});

		$(document).on('change', '.hidden-input-file', function(e) {
			//ファイルオブジェクトを取得する
			var file = e.target.files[0];
			var reader = new FileReader();

			//画像でない場合は処理終了
			if (file.type.indexOf("image") < 0) {
				alert("画像ファイルを指定してください。");
				$(this).remove();
				return false;
			}

			//アップロードした画像を設定する
			reader.onloadend = (function(file) {
				return function(e) {
					var img = $("<img>", {
						src : reader.result,
						title : file.name,
						style : "width:200px;height:200px;"
					});

					$(img).appendTo(".imageDisplay_" + i);
					$('</br>').appendTo(".imageDisplay_" + i);

					var inputHiddenTag = $("<input>", {
						type : "hidden",
						addClass : "input-hidden-tag",
						name : "tagList",
						value : 0
					});
					$(inputHiddenTag).appendTo(".imageDisplay_" + i);

					var modalButton = $("<button>", {
						type : "button",
						addClass : "btn btn-primary btn-sm modal-open-button",
						text : "コアラをタグ付け"
					});
					modalButton.attr('data-toggle', 'modal');
					modalButton.attr('data-target', '#exampleModalCenter');
					$(modalButton).appendTo(".imageDisplay_" + i);

					var button = $("<button>", {
						type : "button",
						addClass : "btn btn-danger btn-sm deleteImageButton",
						id : "deleteImage_" + i,
						text : "写真削除"
					});
					$(button).appendTo(".imageDisplay_" + i);

					i++;
				};
			})(file);

			reader.readAsDataURL(file);

			const contents = $("#input-file-zone > span").length;

			if (contents >= 4) {
				$('.addInputFileButton').hide();
			}

		});

		$(document).on('click', '.deleteImageButton', function() {
			$(this).parent().remove();
			$('.addInputFileButton').show();
		});

		/* $('#exampleModalCenter').on('shown.bs.modal', function () {
			 // $('#myInput').trigger('focus');
		}); */

		$('.animal-tag').click(function(e) {
			$('.modal-body').find('.animal-tag').each(function(index, element) {
				$(element).removeClass('btn-primary');
				$(element).addClass('btn-outline-primary');
			});

			$(this).removeClass('btn-outline-primary');
			$(this).addClass('btn-primary');

		});

		$(document).on(
				'click',
				'.modal-open-button',
				function(e) {
					let tagId = $(this).prev().val();
					$('.modal-body').find('.animal-tag').each(
							function(index, element) {
								$(element).removeClass('btn-primary');
								$(element).addClass('btn-outline-primary');

								if ($(element).prev().val() == tagId) {
									$(element).removeClass(
											'btn-outline-primary');
									$(element).addClass('btn-primary');
								}
							});

					$('input[name="image_tag_class"]').val(
							$(this).parent().attr('class'));
				});

		$('#addTagButton')
				.click(
						function(e) {
							let targetImageClass = $('#input-file-zone')
									.find(
											'.'
													+ $(
															'input[name="image_tag_class"]')
															.val());
							let targetInput = targetImageClass
									.find('.input-hidden-tag');
							if (!targetImageClass.find('.deleteTagButton').lenght) {
								targetImageClass.find('.deleteTagButton')
										.trigger('click');
							}
							$('.modal-body')
									.find('.animal-tag')
									.each(
											function(index, element) {
												if ($(element).hasClass(
														'btn-primary')) {
													targetInput.val($(element)
															.prev().val());
													let addTag = $(element)
															.clone(false);
													addTag
															.removeClass('btn-primary');
													addTag
															.addClass('btn-outline-primary');
													addTag
															.prependTo(targetImageClass);
													var button = $(
															"<buttonn>",
															{
																type : "button",
																addClass : "btn btn-danger btn-sm deleteTagButton",
																text : "タグ削除"
															});
													addTag.after(button);
													button.after('<br>');
												}
											});
							$('#closeModalButton').trigger('click');
						});

		$(document).on('click', '.deleteTagButton', function(e) {
			$(this).prev().remove();
			$(this).next().remove();
			$(this).parent().find('.input-hidden-tag').val(0);
			$(this).remove();

		});

		$('#dateCancel').click(function(e) {
			$(".datepicker").val(null);
			$(this).hide();
		});

		$(".datepicker").change(function(e) {
			let val = $(this).val();
			console.log(val);
			if (val) {
				$('#dateCancel').show();
			} else {
				$('#dateCancel').hide();
			}
		});

		$("#submitButton").click(function(e) {
			$(this).prop('disabled', true);
			let val = $.trim($('textarea[name="contents"]').val());
			console.log(val);
			if (val) {
				$(this).text('保存中...');
				$('form').submit();
			} else {
				alert('投稿内容が空欄です。');
				$(this).prop('disabled', false);
				return false;
			}
		});
		
		$('.visitZoo').on('change', function(){
			const zoo_id = $(".visitZoo").val();
			$.ajax({
				type:"GET",
				url:"/post/animalList",
				data:{zoo_id : zoo_id},
				dataType: "json",
				timeout: 5000,
			}).done((json, textStatus, jqXHR) => {
				const root =  JSON.parse(JSON.stringify(json, ["animal_id", "name"],10));				
				
				console.log(JSON.stringify(json, ["animal_id", "name"],10));
				console.log(root.length);
				console.log(json.length);
				console.log(root[0].name);
				
				for(i = 0; i < root.length; i++){	
					let animal = $("<span>");
					animal.append($("<input>").attr('type', 'hidden').attr('name', 'animal_tag_id').attr('value', root[i].animal_id));
					animal.append($("<button>", {addClass:"btn btn-outline-primary btn-sm animal-tag"}).attr('type', 'button').text('#' + root[i].name));
					$(animal).appendTo(".modal-body");
				}

			/* 	やりたいこと
				<span th:each="animal : ${animalList}" th:object="${animal}">
				<input type="hidden" name="animal_tag_id" th:value="*{animal_id}">
				<button class="btn btn-outline-primary btn-sm animal-tag" type="button" th:text="'&#035;' + *{name}"></button>
				</span>
				
				方法
				var modalButton = $("<button>", {
					type : "button",
					addClass : "btn btn-primary btn-sm modal-open-button",
					text : "コアラをタグ付け"
				});
				modalButton.attr('data-toggle', 'modal');
				modalButton.attr('data-target', '#exampleModalCenter');
				$(modalButton).appendTo(".imageDisplay_" + i);
			 */
			})
		});
		
	});
	
	
</script>

<title th:text="投稿"></title>
</head>

<body>
	<div th:replace="~{block/header_boot::headerA_boot}"></div>
	<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">コアラをタグ付け</h5>
						<input type="hidden" name="image_tag_class">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<span th:each="animal : ${animalList}" th:object="${animal}">
							<input type="hidden" name="animal_tag_id" th:value="*{animal_id}">
							<button class="btn btn-outline-primary btn-sm animal-tag"
								type="button" th:text="'&#035;' + *{name}"></button>
						</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="addTagButton">タグ付けする</button>
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" id="closeModalButton">キャンセル</button>
					</div>
				</div>
			</div>
		</div>

	<div class="container">
		<form th:action="@{/post/insertParentPost}" method="post"
			enctype="multipart/form-data" th:object="${postInsertForm}">
			
			訪問場所<br>
			<select class="visitZoo" th:name="zoo_id"> <!-- selectのフォーム送信値はnameでフォームのフィールドを指定 -->
				<option th:each="zoo : ${zooList}" th:value="${zoo.zoo_id}"
					th:text="${zoo.zoo_name}"
					th:selected="${postInsertForm.zoo_id} == ${zoo.zoo_id}"></option>
			</select>

			<div th:id="visitDate" class="form-group">
				訪問日<br>
				<input type="text" class="datepicker" name="visitdate" value=""
					placeholder="クリックして日付を入力" readonly></input>
				<button type="button" class="btn btn-secondary btn-sm"
					id="dateCancel" style="display: none">指定しない</button>
			</div>
			
			<div th:id="contents" class="form-group">
				<div>投稿内容</div>
				<textarea name="contents" class="form-control postTextarea"
					th:errorclass="is-invalid"></textarea>
			</div>
			
			<div th:id="image" class="form-group">
				<div>
					写真(4枚まで)
					<button class="btn btn-outline-success btn-sm addInputFileButton"
						type="button">写真追加</button>
				</div>
				<div id="input-file-zone"></div>
				<input type="hidden" th:field="*{parent_id}">
				<div id="send-zone">
					<button class="btn btn-outline-primary btn-sm" id="submitButton"
						type="submit">保存</button>
					<button class="btn btn-warning btn-sm" type="button"
						onclick="window.history.back(); return false;">戻る</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>