<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="canonical"
	href="https://getbootstrap.jp/docs/5.0/examples/starter-template/">
<!-- Bootstrap core CSS -->
<link
	href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">


<!-- Custom styles for this template -->
<link href="/css/starter-template.css" rel="stylesheet">


<title th:text="${title}"></title>
<script type="text/javascript">
	$(function() {
		$("#submitButton").click(function(e) {
			$(this).prop('disabled', true);
			let val = $.trim($('textarea[name="contents"]').val());
			console.log(val);
			if (val) {
				$(this).text('送信中...');
				$('form').submit();
			} else {
				alert('投稿内容が空欄です。');
				$(this).prop('disabled', false);
				return false;
			}
		});

		$('.deletePost').click(function(e) {
			const deleteImageFalg = confirm('この投稿を削除してもよろしいですか？');
			if (deleteImageFalg) {
				const post_id = $(this).next().val();
				const zoo_id = $(this).next().next().val();
				const csrf = $(this).next().next().next().val();
				$('<form/>', {
					action : '/post/delete',
					method : 'post'
				}).append($('<input/>', {
					type : 'hidden',
					name : 'post_id',
					value : post_id
				})).append($('<input/>', {
					type : 'hidden',
					name : 'zoo_id',
					value : zoo_id
				})).append($('<input/>', {
					type : 'hidden',
					name : '_csrf',
					value : csrf
				})).appendTo(document.body).submit();
			}
		});

		$('.deleteChildPost').click(function(e) {
			const deleteImageFalg = confirm('この投稿を削除してもよろしいですか？');
			if (deleteImageFalg) {
				const post_id = $(this).next().val();
				const zoo_id = $(this).next().next().val();
				const parent_id = $(this).next().next().next().val();
				const csrf = $(this).next().next().next().next().val();
				$('<form/>', {
					action : '/post/deleteChild',
					method : 'post'
				}).append($('<input/>', {
					type : 'hidden',
					name : 'post_id',
					value : post_id
				})).append($('<input/>', {
					type : 'hidden',
					name : 'zoo_id',
					value : zoo_id
				})).append($('<input/>', {
					type : 'hidden',
					name : 'parent_id',
					value : parent_id
				})).append($('<input/>', {
					type : 'hidden',
					name : '_csrf',
					value : csrf
				})).appendTo(document.body).submit();
			}
		});

		$('.postFavoriteRegister').click(function(e) {
			var requestParam = $(this).prev().val();
			var button = $(this);
			if (button.hasClass("btn-outline-warning")) {
				$.getJSON("/post/insertPostFavorite", {
					post_id : requestParam
				}, function(json) {
					button.removeClass("btn-outline-warning");
					button.addClass("btn-warning");
					button.text("お気に入りから外す");
				});
			} else {
				$.getJSON("/post/deletePostFavorite", {
					post_id : requestParam
				}, function(json) {
					button.removeClass("btn-warning");
					button.addClass("btn-outline-warning");
					button.text("お気に入りに追加");
				});
			}
		});

		$('.addModaiImage').click(function(e) {
			const requestParam = $(this).prev().val();
			const img = $(this);
			console.log(requestParam);
			$.getJSON("/post/checkPostImageFavorite", {
				postImage_id : requestParam
			}, function(json) {
				const count = json.resourse.count;
				const flag = json.resourse.flag;
				const postimageFavoriteId = json.resourse.postimageFavoriteId;
				let text = "";
				console.log(requestParam);
				if (flag) {
					$('#addAlbumButton').removeClass("btn-outline-warning");
					$('#addAlbumButton').addClass("btn-warning");
					text = "アルバムから消す";
				} else {
					$('#addAlbumButton').removeClass("btn-warning");
					$('#addAlbumButton').addClass("btn-outline-warning");
					text = "アルバムに追加";
				}
				$('#addAlbumButton').text(text + "  (" + count + ")");
				$('#addAlbumButton').next().val(postimageFavoriteId);
				const src = img.attr('src');
				const postImageId = img.prev().val();
				$('#modalImage').attr('src', src);
				$('#addAlbumButton').prev().val(postImageId);

				const tag = img.parent().find("a");
				if (typeof tag != "undefined") {
					$('#modalImageLink').attr('href', tag.attr('href'));
					$('#modalImageLink').text(tag.text());
				} else {
					$('#modalImageLink').attr('href', "");
					$('#modalImageLink').text("");
				}

				$('#opneModalButton').trigger('click');
			});

		});

		$('#addAlbumButton').click(function(e) {
			const id = $(this).next().val();
			const param = $(this).prev().val();
			if (id == 0) {
				$.getJSON("/post/insertPostImageFavorite", {
					postImage_id : param
				}, function(json) {
					$('#addAlbumButton').next().val(json.postImageFavoriteId);
					checkPostImageFavorite(param);
				});
			} else {
				$.getJSON("/post/deletePostImageFavorite", {
					postImage_id : param
				}, function(json) {
					$('#addAlbumButton').next().val(0);
					checkPostImageFavorite(param);
				});
			}
		});

		function checkPostImageFavorite(postImage_id) {
			$.getJSON("/post/checkPostImageFavorite", {
				postImage_id : postImage_id
			}, function(json) {
				const count = json.resourse.count;
				const flag = json.resourse.flag;
				const postimageFavoriteId = json.resourse.postimageFavoriteId;
				let text = "";

				if (flag) {
					$('#addAlbumButton').removeClass("btn-outline-warning");
					$('#addAlbumButton').addClass("btn-warning");
					text = "アルバムから消す";
				} else {
					$('#addAlbumButton').removeClass("btn-warning");
					$('#addAlbumButton').addClass("btn-outline-warning");
					text = "アルバムに追加";
				}
				$('#addAlbumButton').text(text + "  (" + count + ")");
			});
		}

	});
</script>

</head>

<body>
	<!-- Modal -->
	<button type="button" data-toggle="modal" id="opneModalButton"
		data-target="#exampleModalCenter" style="display: none;"></button>
	<div class="modal fade" id="exampleModalCenter" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">
						投稿者：<a
							th:href="@{/user/mypage/{user_id}(user_id=${post.loginUser.user_id})}"><img
							th:src="${post.loginUser.profileImagePath}" width="40px"
							height="40px"></a> <a
							th:href="@{/user/mypage/{user_id}(user_id=${post.loginUser.user_id})}"
							th:text="${post.loginUser.userName}"> </a>
					</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<h5>
						<a id="modalImageLink" href="/"></a>
					</h5>
					<img id="modalImage" src="/images/defaultAnimal.png"
						style="width: 100%">
				</div>
				<div class="modal-footer">
					<input type="hidden" name="albumPostImageId">
					<button type="button" class="btn btn-outline-warning"
						id="addAlbumButton" sec:authorize="isAuthenticated()"></button>
					<button type="button" class="btn btn-outline-warning"
						id="addAlbumButton" th:onclick="location.href = '/login'"
						sec:authorize="!isAuthenticated()"></button>
					<input type="hidden" name="PostImageFavoritId">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" id="closeModalButton">閉じる</button>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{block/header_boot::headerA_boot}"></div>
	<div class="container">
		<div th:object="${post.zoo}">
			<a th:href="@{/zoo/detail/{zoo_id}(zoo_id=${post.zoo.zoo_id})}"
				style="text-decoration: none; color: black;">
				<h1 th:text="*{zoo_name}"></h1>
				<h3 th:text="*{prefecture.name}"></h3>
			</a>
		</div>
		<div th:object="${post}" style="margin: 10px; border: solid;">
			<div style="margin: 10px;">
				<a th:href="@{/user/mypage/{user_id}(user_id=*{loginUser.user_id})}"><img
					th:src="*{loginUser.profileImagePath}" width="40px" height="40px"></a>
				<a th:href="@{/user/mypage/{user_id}(user_id=*{loginUser.user_id})}"
					th:text="*{loginUser.userName}"> </a> <span
					th:text="*{displayDiffTime}"></span> <input type="hidden"
					name="favorite_post_id" th:value="*{post_id}">
				<button sec:authorize="isAuthenticated()" type="button"
					th:if="*{favoriteFlag == false}"
					class="btn btn-outline-warning btn-sm postFavoriteRegister"
					th:text="お気に入りに追加"></button>
				<button sec:authorize="isAuthenticated()" type="button"
					th:unless="*{favoriteFlag == false}" th:text="お気に入りから外す"
					class="btn btn-warning btn-sm postFavoriteRegister"></button>
				<button sec:authorize="isAuthenticated()"
					class="btn btn-danger btn-sm deletePost"
					th:if="*{loginUser.user_id} == ${#authentication.principal.user_id}"
					type="button">この投稿を削除</button>
				<input sec:authorize="isAuthenticated()"
					th:if="*{loginUser.user_id} == ${#authentication.principal.user_id}"
					type="hidden" name="post_id" th:value="*{post_id}"> <input
					sec:authorize="isAuthenticated()"
					th:if="*{loginUser.user_id} == ${#authentication.principal.user_id}"
					type="hidden" name="zoo_id" th:value="${post.zoo.zoo_id}">
				<input sec:authorize="isAuthenticated()"
					th:if="*{loginUser.user_id} == ${#authentication.principal.user_id}"
					type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</div>
			<div
				th:unless="*{#dates.format(visitDate,'yyyy年M月d日')} == '9999年1月1日'"
				th:text="'訪問日:  ' + *{#dates.format(visitDate,'yyyy年M月d日')}"
				style="margin: 10px;"></div>
			<div th:if="*{#dates.format(visitDate,'yyyy年M月d日')} == '9999年1月1日'"
				th:text="'訪問日:  指定なし'" style="margin: 10px;"></div>
			<div th:text="*{contents}"
				style="white-space: pre-wrap; margin: 10px;"></div>
			<div style="margin: 10px;">
				<span th:each="postImage : *{postImageList}"
					th:object="${postImage}"
					style="display: inline-block; margin: 10px;"> <a
					th:unless="*{animal} == null"
					th:href="@{/detail/{animal_id}(animal_id=*{animal.animal_id})}"
					th:text="'#' + *{animal.name}"></a><br
					th:unless="*{animal} == null"> <input type="hidden"
					name="postImageId" th:value="*{postimage_id}"><img
					th:src="*{imageAddress}" class="addModaiImage"
					style="border: solid; cursor: zoom-in; width: 100px; height: 100px;">
				</span>
			</div>
			<div
				th:text="'投稿日時:  ' + *{#dates.format(createdDate,'yyyy.MM.dd  HH:mm')}"></div>
		</div>
		<div class="container">
			<form sec:authorize="isAuthenticated()"
				th:action="@{/post/insertChildPost}" method="post"
				th:object="${postInsertForm}">
				<input type="hidden" th:field="*{parent_id}"> <input
					type="hidden" th:field="*{parent_id}">
				<div th:id="content">
					<textarea name="contents" class="form-control postTextarea"
						placeholder="この投稿へコメントする" th:errorclass="is-invalid"
						style="height: 120px;"></textarea>
				</div>
				<div id="send-zone">
					<button class="btn btn-outline-primary btn-sm" id="submitButton"
						type="submit">コメントを送信</button>
				</div>
			</form>
			<a th:href="@{/login}" sec:authorize="!isAuthenticated()">
				<button class="btn btn-outline-success mx-2" type="submit">ログインしてコメントする</button>
			</a>
		</div>
		<div th:each="childPost : ${post.childrenPost}"
			th:object="${childPost}" style="margin: 10px; border: solid;">
			<div style="margin: 10px;">
				<a th:href="@{/user/mypage/{user_id}(user_id=*{loginUser.user_id})}"><img
					th:src="*{loginUser.profileImagePath}" width="40px" height="40px"></a>
				<a th:href="@{/user/mypage/{user_id}(user_id=*{loginUser.user_id})}"
					th:text="*{loginUser.userName}"> </a> <span
					th:text="*{displayDiffTime}"></span> <input type="hidden"
					name="favorite_post_id" th:value="*{post_id}">
				<button sec:authorize="isAuthenticated()" type="button"
					th:if="*{favoriteFlag == false}"
					class="btn btn-outline-warning btn-sm postFavoriteRegister"
					th:text="お気に入りに追加"></button>
				<button sec:authorize="isAuthenticated()" type="button"
					th:unless="*{favoriteFlag == false}" th:text="お気に入りから外す"
					class="btn btn-warning btn-sm postFavoriteRegister"></button>
				<button sec:authorize="isAuthenticated()"
					class="btn btn-danger btn-sm deleteChildPost"
					th:if="*{loginUser.user_id} == ${#authentication.principal.user_id}"
					type="button">この投稿を削除</button>
				<input sec:authorize="isAuthenticated()"
					th:if="*{loginUser.user_id} == ${#authentication.principal.user_id}"
					type="hidden" name="post_id" th:value="*{post_id}"> <input
					sec:authorize="isAuthenticated()"
					th:if="*{loginUser.user_id} == ${#authentication.principal.user_id}"
					type="hidden" name="zoo_id" th:value="${post.zoo.zoo_id}">
				<input sec:authorize="isAuthenticated()"
					th:if="*{loginUser.user_id} == ${#authentication.principal.user_id}"
					type="hidden" name="parent_id" th:value="${post.post_id}">
				<input sec:authorize="isAuthenticated()"
					th:if="*{loginUser.user_id} == ${#authentication.principal.user_id}"
					type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</div>
			<div th:text="*{contents}"
				style="white-space: pre-wrap; margin: 10px;"></div>
			<div
				th:text="'投稿日時:  ' + *{#dates.format(createdDate,'yyyy.MM.dd  HH:mm')}"></div>
		</div>
	</div>
</body>
</html>