<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<link rel="canonical"
	href="https://getbootstrap.jp/docs/5.0/examples/starter-template/">
<!-- Bootstrap core CSS -->
<link
	href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>

<!-- Custom styles for this template -->
<link href="/css/starter-template.css" rel="stylesheet">

<script type="text/javascript">
$(function() {
		$('#submitButton').click(function(e) {
			$('form').submit();
			$(this).prop("disabled", true);
			$(this).text('保存中....');
		});
	})
</script>

<title th:text="${title}"></title>

</head>

<body>
	<div th:replace="~{block/header_boot::headerA_boot}"></div>
	<form th:action="@{/user/edit}" method="post"
			enctype="multipart/form-data" th:object="${userForm}">
			<input type="hidden" th:field="*{user_id}">
			<input type="hidden" th:field="*{profileImagePath}">
	<table class="table table-hover table-responsive">
		<tr>
			<th class="cell_title"><img th:src="*{profileImagePath}"
				width="100" height="100"></th>
			<td><input type="file" accept="image/*"
				th:field="*{userProfileImageUpload}" th:errorclass="is-invalid"
				class="form-control-file"></td>
		</tr>
		<tr>
			<th class="cell_title">名前</th>
			<td><input type="text" class="form-control" th:field="*{name}"
				th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{name}"></div></td>
		</tr>
		<tr>
			<th class="cell_title">Twiiterアカウントへのリンク</th>
			<td>表示する<input type="radio" th:field="*{twitterLinkFlag}"
				th:value=true>　　　　　表示しない<input type="radio"
				th:field="*{twitterLinkFlag}" th:value=false></td>
		</tr>
		<tr>
			<th class="cell_title">プロフィール</th>
			<td><textarea class="form-control" th:field="*{profile}"
					th:errorclass="is-invalid"></textarea></td>
		</tr>
	</table>
	<button class="btn btn-outline-primary btn-sm" id = "submitButton" type="submit">保存</button>
	<button class="btn btn-primary btn-sm" type="button"
			th:onclick="'location.href = \'' + @{/user/mypage/{user_id}(user_id=*{user_id})} + '\''">マイページに戻る</button>
	</form>
</body>
</html>