<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<link rel="canonical"
	href="https://getbootstrap.jp/docs/5.0/examples/starter-template/">
<!-- Bootstrap core CSS -->
<link
	href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">



<!-- Custom styles for this template -->
<link href="/css/starter-template.css" rel="stylesheet">


<title th:text="${title}"></title>
</head>

<body>
	<div th:replace="~{block/header_boot::headerA_boot}"></div>
	<div th:object="${userForm}">
	<div class="btn_area_center" th:if="${editFlag}">
	
		<button class="btn btn-primary btn-sm" type="button"
			th:onclick="'location.href = \'' +@{/user/edit/{user_id}(user_id=*{user_id})} + '\''">プロフィール編集</button>
	</div>
		<table class="table table-hover table-responsive">
			<tr>
				<th class="cell_title"><img th:src="*{profileImagePath}" width="100" height="100"></th>
				<td th:text="*{name}"></td>
			</tr>
			<tr th:if="*{twitterLinkFlag}">
				<th class="cell_title">Twiiter</th>
				<td><a target=”_blank” th:href="@{https://twitter.com/{adress}(adress=*{adress})}" th:text="*{name} + さんのTwitterアカウント"></a></td>
			</tr>
			<tr>
				<th class="cell_title">プロフィール</th>
				<td th:text="*{profile}" style="white-space: pre-wrap;"></td>
			</tr>
			<tr>
				<th class="cell_title">投稿一覧</th>
				<td><div th:each="post : ${postList}" th:object="${post}"
						style="margin: 10px; border: solid;">
						<div style="margin: 10px;">
						<img
								th:src="*{loginUser.profileImagePath}" width="40px"
								height="40px"><span
								th:text="*{loginUser.userName}"> </span> <span
								th:text="*{displayDiffTime}"></span>
						</div>
						<div
							th:unless="*{#dates.format(visitDate,'yyyy年M月d日')} == '9999年1月1日'"
							th:text="'訪問日:  ' + *{#dates.format(visitDate,'yyyy年M月d日')}"
							style="margin: 10px;"></div>
						<div
							th:if="*{#dates.format(visitDate,'yyyy年M月d日')} == '9999年1月1日'"
							th:text="'訪問日:  指定なし'" style="margin: 10px;"></div>
						<a th:href="@{/post/postDetail/{post_id}(post_id=*{post_id})}"
							style="text-decoration: none; color: black;">
							<div th:text="*{contents}"
								style="white-space: pre-wrap; margin: 10px;"></div>
						</a>
						<div style="margin: 10px;">
							<span th:each="postImage : *{postImageList}"
								th:object="${postImage}"
								style="display: inline-block; margin: 10px;"> <a
								th:unless="*{animal} == null"
								th:href="@{/detail/{animal_id}(animal_id=*{animal.animal_id})}"
								th:text="'#' + *{animal.name}"></a><br
								th:unless="*{animal} == null"> <a
								th:unless="*{post} == null"
								th:href="@{/post/postDetail/{post_id}(post_id=*{post.post_id})}"
								style="text-decoration: none; color: black;"> <img
									th:src="*{imageAddress}" width="100px" height="100px"
									style="border: solid;">
							</a>
							</span>
						</div>
						<a th:href="@{/post/postDetail/{post_id}(post_id=*{post_id})}">
						<div th:text="*{childrenCount}+'件のコメント'"></div>
						</a>
					</div></td>
			</tr>
		</table>
	</div>
</body>
</html>