.grad-wrap {
    position: relative;
}

.grad-btn {
   	z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    margin: auto;
    padding: .5em 0;
    border-radius: 2px;
    background: #808080;
    color: #fff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    transition: .2s ease;
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
}
.grad-btn::before {
  content: "詳細を見る"
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 80px; /*隠した状態の高さ*/
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}

.post-contents{
	position: relative;
	min-height: 50px;
	max-height: 100px;
	overflow:hidden;
}

.post-contents::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.6) 100%);
  content: "";
}