header.masthead {
	background: url("../images/background.jpg");
	background-color: rgba(255, 255, 255, 0.2);
	background-blend-mode: lighten;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-blend-mode: lighten;
	height: 90vh;
	min-height: 40rem;
	position: relative;
	text-align: center;
}


.masthead_content img {
	height: 6rem;
}

.masthead_content p {
	color: white;
}

.search {
	position: relative;
	height: 100%;
}

.search a {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.masthead_content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 10;
}