header.masthead {
	background: url("../images/background.jpg");
	background-color: rgba(255, 255, 255, 0.2);
	background-blend-mode: lighten;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-blend-mode: lighten;
	height: 90vh;
	min-height: 40rem;
	position: relative;
}


.masthead img {
	height: 6rem;
}

header.masthead p {
	color: white;
}

.search {
	position: relative;
	height: 100%;
}

.search a {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}