<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<link rel="canonical"
	href="https://getbootstrap.jp/docs/5.0/examples/starter-template/">
<!-- Bootstrap core CSS -->
<link
	href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">



<!-- Custom styles for this template -->
<link href="/css/starter-template.css" rel="stylesheet">


<title th:text="${title}"></title>
</head>

<body>
	<div th:replace="~{block/header_boot::headerA_boot}"></div>
	<h2>コアラ情報詳細</h2>
	<div th:object="${detail}">
		<table class="table table-hover table-responsive">
			<tr>
				<th class="cell_title">プロフィール写真</th>
				<td><img th:src="*{profileImagePath}" width="200" height="200"></td>
			</tr>
			<tr>
				<th class="cell_title">名前</th>
				<td th:text="*{name}"></td>
			</tr>
			<tr>
				<th class="cell_title">性別</th>
				<td th:if="*{sex == 0}">不明</td>
				<td th:if="*{sex == 1}">男</td>
				<td th:if="*{sex == 2}">女</td>
				<td th:if="*{sex == 9}"></td>
			</tr>
			<tr>
				<th class="cell_title">生年月日</th>
				<td th:if="*{stringBirthDate.equals('9999年1月1日')}">不明</td>
				<td th:unless="*{stringBirthDate.toString().equals('9999年1月1日')}"
					th:text="*{stringBirthDate}"></td>
			</tr>
			<tr>
				<th class="cell_title">生死</th>
				<td th:if="*{is_alive == 1}">生存</td>
				<td th:if="*{is_alive == 0}">死亡</td>
			</tr>
			<tr>
				<th class="cell_title">死亡日</th>
				<td th:if="*{stringDeathDate.equals('9999年1月1日')}">-</td>
				<td th:unless="*{stringDeathDate.equals('9999年1月1日')}"
					th:text="*{stringDeathDate}"></td>
			</tr>
			<tr>
				<th class="cell_title">動物園</th>
				<td th:if="*{animalZooHistoryList[0].zoo.zoo_id} == 0"
					th:text="*{animalZooHistoryList[0].zoo.zoo_name}"></td>
				<td th:unless="*{animalZooHistoryList[0].zoo.zoo_id} == 0"><a
					th:href="@{/zoo/detail/{zoo_id}(zoo_id=*{animalZooHistoryList[0].zoo.zoo_id})}"
					th:text="*{animalZooHistoryList[0].zoo.zoo_name}"> </a></td>
			</tr>
			<tr>
				<th class="cell_title">母親</th>
				<td th:if="*{#strings.isEmpty(motherAnimal.name)}">不明</td>
				<td th:unless="*{#strings.isEmpty(motherAnimal.name)}"><a
					th:href="@{/detail/{animal_id}(animal_id=*{motherAnimal.animal_id})}"
					th:text="*{motherAnimal.name}"> </a></td>
			</tr>
			<tr>
				<th class="cell_title">父親</th>
				<td th:if="*{#strings.isEmpty(fatherAnimal.name)}">不明</td>
				<td th:unless="*{#strings.isEmpty(fatherAnimal.name)}"><a
					th:href="@{/detail/{animal_id}(animal_id=*{fatherAnimal.animal_id})}"
					th:text="*{fatherAnimal.name}"> </a></td>
			</tr>
			<tr>
				<th class="cell_title">詳細</th>
				<td th:text="*{details}"></td>
			</tr>
			<tr>
				<th class="cell_title">特徴</th>
				<td th:text="*{feature}"></td>
			</tr>
			<tr>
				<th class="cell_title">写真</th>
				<td><span th:each="postImage:${postImageList}"
					th:object="${postImage}"><a
						th:href="@{/post/postDetail/{post_id}(post_id=*{post.post_id})}"> <img
							th:src="*{imageAddress}" width="200" height="200"></a> </span></td>
			</tr>
		</table>
	</div>
	<div class="btn_area_center">
		<button class="btn btn-primary btn-sm" type="button"
			th:onclick="'location.href = \'' +@{/edit/{animal_id}(animal_id=${detail.animal_id})} + '\''">編集</button>
		<button class="btn btn-warning btn-sm" type="button"
			onclick="window.history.back(); return false;">戻る</button>
	</div>
</body>
</html>