<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>コアラマニア　トップページ</title>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="canonical" href="https://getbootstrap.jp/docs/5.0/examples/starter-template/">

	<!-- Bootstrap core CSS -->
	<link
			href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous">

	<link href="/css/background.css" rel="stylesheet">
	<link href="/css/starter-template.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap" rel="stylesheet">
</head>

<body>
<div th:replace="~{block/header_boot::headerA_boot}"></div>

<form class="searchform" method="get" th:action="@{/filter}" th:object="${animalFilterForm}">

<!-- Modal 動物園-->
<div class="modal fade" id="exampleModal" tabindex="-1"
	 aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">動物園で絞り込み</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<div th:each="zoo, status : ${zooList}">
					<input type="checkbox" th:value="${zoo.zoo_id}"
						   th:id="${zoo.zoo_id}" th:field="${animalFilterForm.zoo}">
					<label th:for="${zoo.zoo_id}" th:text="${zoo.zoo_name}"></label>
				</div>
			</div>


			<div class="modal-footer">
					<button type="submit" class="btn btn-primary">さがす</button>
				</div>
		</div>
	</div>
</div>

<!-- Modal 動物 今後コアラ以外の動物に拡張した際に対応が必要-->
<div class="modal fade" id="animalModal" tabindex="-1"
	 aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="animalModalLabel">動物で絞り込み</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
				<div class="modal-body">
					<input type="checkbox" th:id="koala" th:text="コアラ">
					<label th:for="koala" th:text="コアラ"></label>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">さがす</button>
				</div>
		</div>
	</div>
</div>


<div class="masthead">
	<div class="masthead_content">
		<div class="logo">
			<img src="images/title.png" alt="title">
		</div>
		<div class="copy">
			<p>コアラのことがもっと好きになるデータベース</p>
		</div>

			<div class="topsearch">
				<div class="container g-0">
					<div class="row g-0 topsearch_tabs">
						<div class="col-4 topsearch_tab first d-flex align-items-center justify-content-center">
							<a class="search tab_active">キーワードから探す</a>
						</div>
						<div class="col-4 topsearch_tab second js-modal-open-zoo d-flex align-items-center justify-content-center">
							<a class="search" data-bs-toggle="modal"
							   data-bs-target="#exampleModal">動物園から探す</a>
						</div>
						<div class="col-4 topsearch_tab third js-modal-open-animal d-flex align-items-center justify-content-center">
							<a class="search" data-bs-toggle="modal"
							   data-bs-target="#animalModal">動物から探す</a>
						</div>
					</div>
				</div>
				<input type="hidden" id="isMale" name="isMale" th:value="false">
				<input type="hidden" id="isFemale" name="isFemale" th:value="false">
				<input type="hidden" id="isAlive" name="isAlive" th:value="false">
				<input type="hidden" id="isDead" name="isDead" th:value="false">

				<div class="topsearch_keyword">
					<div class="formtext">
						<input class="formtext" type="text" name="keyword" value=""
							   placeholder="コアラ・動物園名">
						<button class="topsearch_button text-white" type="submit">さがす</button>
					</div>
				</div>
			</div>

	</div>
</div>
</form>

<a href="/static/index">SPAテストページ</a>


<script>
		document.write('<script src="http://'
				+ (location.host || 'localhost').split(':')[0]
				+ ':35729/livereload.js?snipver=2"></' + 'script>')

</script>

<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
		integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
		crossorigin="anonymous"></script>
<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
		crossorigin="anonymous"></script>
		
<div th:replace="~{block/footer_boot::footerA_boot}"></div>
</body>
</html>
