<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title th:text="プライバシーポリシー"></title>
</head>
<body>

プライバシーポリシー（個人情報保護方針）<br>
<br>
ユーザーの個人情報について以下のとおりプライバシーポリシー（以下、「本ポリシー」という。）を定めます。<br>
本ポリシーは、どのような個人情報を取得し、どのように利用・共有するか、ユーザーがどのようにご自身の個人情報を管理できるかをご説明するものです。<br>
<br>
【１．サービス提供者情報】<br>
管理者名：tsuvic<br>
サービス提供者情報に係る詳細な情報はお問い合わせフォームよりご連絡ください。<br>
<br>
【２．個人情報の取得方法】<br>
ユーザーがサービスにログインをするとき、Twitter上のアカウントID、アカウント名、プロバイダーID、プロフィール情報、プロフィール画像など情報を取得させていただきます。<br>
氏名、住所、年齢などの個人を特定する情報は取得いたしません。<br>
お問い合わせフォームの送信時には、氏名・メールアドレスを取得させていただきます。<br>
<br>
【３．個人情報の利用目的】<br>
取得した閲覧情報を分析し、ユーザー別に適した商品・サービスをお知らせするために利用します。また、取得した閲覧情報は、結果をスコア化した上で当該スコアを第三者へ提供します。<br>
<br>
【４．個人データを安全に管理するための措置】<br>
個人情報を正確かつ最新の内容に保つよう努め、不正なアクセス・改ざん・漏えい・滅失及び毀損から保護するためサービス提供に係るチームに対して教育研修の実施、また定期的に点検を行っています。<br>
<br>
【５．個人データの第三者提供について】<br>
法令及びガイドラインに別段の定めがある場合を除き、同意を得ないで第三者に個人情報を提供することは致しません。<br>
<br>
【６．保有個人データの開示、訂正】<br>
本人から個人情報の開示を求められたときには、遅滞なく本人に対しこれを開示します。個人情報の利用目的の通知や訂正、追加、削除、利用の停止、第三者への提供の停止を希望される方はお問い合わせフォームよりご連絡ください。<br>
<br>
【７．個人情報取り扱いに関する相談や苦情の連絡先】<br>
個人情報の取り扱いに関するご質問やご不明点、苦情、その他のお問い合わせはお問い合わせフォームよりご連絡ください。<br>
<br>
【８．SSL（Secure Socket Layer）について】<br>
WebサイトはSSLに対応しており、WebブラウザとWebサーバーとの通信を暗号化しています。ユーザーが入力する情報は自動的に暗号化されます。<br>
<br>
【９．cookieについて】<br>
cookieとは、WebサーバーからWebブラウザに送信されるデータのことです。Webサーバーがcookieを参照することでユーザーのパソコンを識別でき、効率的にWebサイトを利用することができます。Webサイトがcookieとして送るファイルは、個人を特定するような情報は含んでおりません。お使いのWebブラウザの設定により、cookieを無効にすることも可能です。<br>
<br>
【１０．Google Analyticsについて】<br>
利用者のサイト訪問状況を把握するためにGoogle 社のサービスであるGoogle Analyticsを利用しています。<br>
サイトでGoogle Analyticsを利用すると、発行するクッキーを利用して、Google 社が利用者の当社サイトの訪問履歴を収集、記録、分析します。<br>
Google 社から分析結果を受け取り、利用者の当社サイトの訪問状況を把握しています。<br>
<br>
【１１．プライバシーポリシーの制定日及び改定日】<br>
制定：2022年12月31日<br>
<br>
【１２．免責事項】<br>
Webサイトに掲載されている情報の正確性には万全を期していますが、利用者がWebサイトの情報を用いて行う一切の行為に関して、一切の責任を負わないものとします。利用者がWebサイトを利用したことにより生じた利用者の損害及び利用者が第三者に与えた損害に関して、一切の責任を負わないものとします。<br>
<br>
【１３．著作権・肖像権】<br>
Webサイト内の文章や画像、すべてのコンテンツは著作権・肖像権等により保護されています。無断での使用や転用は禁止されています。<br>
<br>
【１４．リンク】<br>
Webサイトへのリンクは、自由に設置していただいて構いません。ただし、Webサイトの内容等によってはリンクの設置をお断りすることがあります。<br>
</body>
</html>