<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link href="/css/common.css" rel="stylesheet">
<link href="/css/postgrad.css" rel="stylesheet">
<script type="text/javascript">
	$(function() {
		$('.deletePost').click(function(e) {
			const deleteImageFalg = confirm('この投稿を削除してもよろしいですか？');
			if (deleteImageFalg) {
				const post_id = $(this).next().val();
				const zoo_id = $(this).next().next().val();
				const csrf = $(this).next().next().next().val();
				$('<form/>', {
					action : '/post/delete',
					method : 'post'
				}).append($('<input/>', {
					type : 'hidden',
					name : 'postId',
					value : post_id
				})).append($('<input/>', {
					type : 'hidden',
					name : 'zooId',
					value : zoo_id
				})).append($('<input/>', {
					type : 'hidden',
					name : '_csrf',
					value : csrf
				})).appendTo(document.body).submit();
			}
		});

		$('.postFavoriteRegister').click(function(e) {
			var requestParam = $(this).prev().val();
			var button = $(this);
			if (button.hasClass("btn-outline-warning")) {
				$.getJSON("/post/insertPostFavorite", {
					postId : requestParam
				}, function(json) {
					button.removeClass("btn-outline-warning");
					button.addClass("btn-warning");
					button.text("お気に入りから外す (" + json.count + ")");
				});
			} else {
				$.getJSON("/post/deletePostFavorite", {
					postId : requestParam
				}, function(json) {
					button.removeClass("btn-warning");
					button.addClass("btn-outline-warning");
					button.text("お気に入りに追加 (" + json.count + ")");
				});
			}
		});
		
		/* $('.grad-btn').click(function(e) {
			const prop = $(this).prev().prop('checked');
			if (prop) {
				$(this).prev().prop('checked',false);
			} else {
				$(this).prev().prop('checked',true);
			}
		}); */
	});
</script>
<title th:text="${title}"></title>
</head>

<body>
	<div th:replace="~{block/header_boot::headerA_boot}"></div>
	<p class="mt-5 pt-3"></p>
	<div th:object="${zoo}">
		<button class="btn btn-primary btn-sm" type="button"
			th:onclick="'location.href = \'' +@{/post/postInsert/{zoo_id}(zoo_id=*{zoo_id})} + '\''">投稿する</button>
		<table class="table table-hover table-responsive">
			<tr>
				<th class="cell_title">名前</th>
				<td th:text="*{zoo_name}"></td>
			</tr>
			<tr>
				<th class="cell_title">所在地</th>
				<td th:text="*{prefecture.name}"></td>
			</tr>
			<tr>
				<th class="cell_title">投稿</th>
				<td><div th:each="post : ${postList}" th:object="${post}"
						style="margin: 10px; border: solid;">
						<div style="margin: 10px;">
							<a
								th:href="@{/user/mypage/{user_id}(user_id=*{user.user_id})}"><img
								th:src="*{user.profileImagePath}" width="40px"
								height="40px"></a> <a
								th:href="@{/user/mypage/{user_id}(user_id=*{user.user_id})}"
								th:text="*{user.userName}"> </a> <span
								th:text="*{displayDiffTime}"></span> <input type="hidden"
								name="favorite_post_id" th:value="*{postId}">
							<button sec:authorize="!isAuthenticated()" type="button"
								th:if="*{favoriteFlag == false}"
								class="btn btn-outline-warning btn-sm postFavoriteRegister"
								th:text="'お気に入りに追加 (' + *{favoriteCount} +')'"
								th:onclick="location.href = '/login'"></button>
							<button sec:authorize="isAuthenticated()" type="button"
								th:if="*{favoriteFlag == false}"
								class="btn btn-outline-warning btn-sm postFavoriteRegister"
								th:text="'お気に入りに追加 (' + *{favoriteCount} +')'"></button>
							<button sec:authorize="isAuthenticated()" type="button"
								th:unless="*{favoriteFlag == false}"
								th:text="'お気に入りから外す (' + *{favoriteCount} +')'"
								class="btn btn-warning btn-sm postFavoriteRegister"></button>
							<button sec:authorize="isAuthenticated()"
								class="btn btn-danger btn-sm deletePost"
								th:if="*{user.user_id} == ${#authentication.principal.user_id}"
								type="button">この投稿を削除</button>
							<input sec:authorize="isAuthenticated()"
								th:if="*{user.user_id} == ${#authentication.principal.user_id}"
								type="hidden" name="post_id" th:value="*{postId}"> <input
								sec:authorize="isAuthenticated()"
								th:if="*{user.user_id} == ${#authentication.principal.user_id}"
								type="hidden" name="zoo_id" th:value="${zoo.zoo_id}"> <input
								sec:authorize="isAuthenticated()"
								th:if="*{user.user_id} == ${#authentication.principal.user_id}"
								type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />
						</div>
						<div
							th:unless="*{#dates.format(visitDate,'yyyy年M月d日')} == '9999年1月1日'"
							th:text="'訪問日:  ' + *{#dates.format(visitDate,'yyyy年M月d日')}"
							style="margin: 10px;"></div>
						<div
							th:if="*{#dates.format(visitDate,'yyyy年M月d日')} == '9999年1月1日'"
							th:text="'訪問日:  指定なし'" style="margin: 10px;"></div>
						<a th:href="@{/post/postDetail/{post_id}(post_id=*{postId})}"
							style="text-decoration: none; color: black;">
							<div class="grad-wrap">
							<label class="grad-btn"></label>
							<div th:text="*{contents}"
								style="white-space: pre-wrap; margin: 10px;"
								class="post-contents"></div>
								</div>
						</a>
						<div style="margin: 10px;">
							<span th:each="postImage : *{postImageList}"
								th:object="${postImage}"
								style="display: inline-block; margin: 10px;"> <a
								th:unless="*{animal} == null"
								th:href="@{/detail/{animal_id}(animal_id=*{animal.animal_id})}"
								th:text="'#' + *{animal.name}"></a><br
								th:unless="*{animal} == null"> <a
								th:href="@{/post/postDetail/{post_id}(post_id=*{post.postId})}"
								style="text-decoration: none; color: black;"> <img
									th:src="*{imageAddress}" width="100px" height="100px"
									style="border: solid;">
							</a>
							</span>
						</div>
						<div>
							<a th:href="@{/post/postDetail/{post_id}(post_id=*{postId})}"
								th:text="*{childrenCount}+'件のコメント'"> </a>
						</div>
					</div></td>
			</tr>
		</table>
	</div>
	</div>
</body>
</html>