<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="footer" th:fragment="footerA_boot">
    <footer class="border-top">
        <div class="d-flex flex-wrap">
            <p class="p-1 col-3 text-center"><a href="/description">コアラマニアとは</a></p>
            <p class="p-1 col-3 text-center"><a href="/terms">利用規約</a>
            <p class="p-1 col-3 text-center"><a href="/privacypolicy">プライバシーポリシー</a></p>
            <p class="p-1 col-3 text-center"><a href="https://tayori.com/form/e976498f95636ad99bb9b6dbe901499a642cd107">お問い合わせ</a></p>
        </div>
    </footer>
</div>

<!-- Vuetifyの場合
https://vuetifyjs.com/ja/components/grids/#section-4f7f304465b9
https://vuetifyjs.com/ja/components/grids/#section-98065e8f3a-6700521d306867005f8c
<footer id="footer" th:fragment="footerA_boot">
    <v-container class="border-top">
        <v-row justify="center">
                <v-col cols="4"><a href="/description"><span class="fs-7">コアラマニアとは</span></a></v-col>
                <v-col cols="4"><a href="/terms"><span>利用規約</span></a></v-col>
                <v-col cols="4"><a href="/privacypolicy"><span>プライバシーポリシー</span></a></v-col>
                <v-col cols="4"><a href="https://tayori.com/form/e976498f95636ad99bb9b6dbe901499a642cd107"><span>お問い合わせ</span></a></v-col>
        </v-row>
    </v-container>
</footer> 
-->

<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
  Holder.addTheme('thumb', {
    bg: '#55595c',
    fg: '#eceeef',
    text: 'Thumbnail'
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>new Vue({el: '#header',vuetify: new Vuetify(),})</script>
</body>
</html>